html {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.main {
   background: url("img/main.jpg") no-repeat;
   background-size: cover;
   height: 100%;
   padding: 1rem !important;
   margin: 0 !important;
}

.list-item {
    font-size: 1.2rem !important;
    line-height: 1.5rem;
    color: #fff;
}

.list-item:hover {
    cursor: pointer !important;
}

.icon-change {
    margin-left: 0.5rem !important;
}

.icon-change:hover {
    color: deepskyblue;
}

.icon-delete {
    position: absolute;
    right: 0;
}

.icon-delete:hover {
    color: deepskyblue;
}


.footer {
    position: absolute !important;
    bottom: 0 !important;
    width: calc(98% - 1rem);
    margin: 0 auto;
    background-color: #fff;
}

.tracklist {
    border-right: thin solid white;
    overflow-y: scroll;
    word-break: break-all;
}

.buttoncreate {
    width: 100%;
    background-color: deepskyblue !important;
}

.inputlist {
    width: 79%;
    margin: 0 10px 10px 0;

}

.searchpanel {
    border-left: 1px solid white;
    overflow-y: scroll;
}

.icon-list:hover {
    color: deepskyblue !important;
}

.searchlist {
    border-left: thin solid white;
    word-break: break-all;
}

.iconsearch:hover {
    color: deepskyblue !important;
}

.dropbutton {
    font-size: 0.6rem !important;
    float: right;
    background-color: deepskyblue !important;
}

p {
    display: inline-block;
    font-size: 0.9rem !important;
    vertical-align: top !important;
    color: white;
    width: 60% !important;
}

.item {
    line-height: 5px !important;
}

.playsong {
    font-size: 0.6rem !important;
}